# Matplotlib 20 - Visualisasi Data yang tersimpan pada Pandas Data Frame (bagian 1)

# Import Modules

In [1]:
%matplotlib inline

In [3]:
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd

print(matplotlib.__version__)
print(pd.__version__)

3.3.2
1.1.3

# Sample Dataset

In [4]:
df = pd.DataFrame({
     'nama' : ['cecep', 'karti', 'bejo', 'tejo', 'asep', 'wati', 'amat'],
     'usia' : [23, 78, 22, 19, 45, 33, 20],
     'gender' : ['L', 'P', 'L', 'L', 'L', 'P', 'L'],
     'propinsi':
     ['jabar', 'jatim', 'jabar', 'jatim', 'jabar', 'jateng', 'jateng'],
     'n_anak' : [2, 0, 0, 3, 2, 1, 4],
     'n_pets' : [5, 1, 0, 5, 2, 2, 3]
})

df

    nama  usia gender propinsi  n_anak  n_pets
0  cecep    23      L    jabar       2       5
1  karti    78      P    jatim       0       1
2   bejo    22      L    jabar       0       0
3   tejo    19      L    jatim       3       5
4   asep    45      L    jabar       2       2
5   wati    33      P   jateng       1       2
6   amat    20      L   jateng       4       3